.funParagraph{
    color: green;
}

#mainHeading{
    color: red;
}

body{
    margin: 8px;
    display: block;
    background-color: lightsalmon;
}

div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 50px 50px 50px;
}

.toTheMiddle{
text-align: center;
left: auto;
right: auto;
color: teal;
}


img{
    width: 300px; 
    height: 200px;
    margin: auto;
    display: block;
}

figcaption{
    font-size: small;
    text-align: center;
}

