.funParagraph{
    color: green;
}

#mainHeading{
    color: red;
    transform: rotate(35deg);
    position: fixed;
    margin-top: auto
}

body{
    margin: 8px;
    display: block;
    background-color:rgb(158, 218, 197);
}

div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px 50px 50px 50px;
}

.toTheMiddle{
text-align: center;
left: auto;
right: auto;
color: rgb(43, 0, 128);
font-style: italic;
font-size:x-large
}


img{
    width: 400px; 
    height: 300px;
    margin: auto;
    display: block;
}

figcaption{
    font-size: small;
    text-align: center;
}

#Sky{
 transform: rotate(180deg);
}

#offset{
    font-size: small;
}